<% provide(:title, "Editar Usuario") %>
<h1>Editar Perfil</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

	  <%= f.label :name, 'Razao social' %>
      <%= f.text_field :name %>

	  <%= f.label :user_name, 'Usuario' %>
      <%= f.text_field :user_name %>	

      <%= f.label :password, 'Senha' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Digite novamente sua senha" %>
      <%= f.password_field :password_confirmation %>

      
      <%= f.submit "Salvar Alteracoes", class: "btn btn-large btn-primary" %>
    <% end %>

   
  </div>
</div>